body {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#reset {
	position: fixed;
	left: 10px;
	bottom: 10px;
}

#score {
	position: fixed;
	right: 10px;
	top: 5px;
	color: teal;
}

#console {
	position: fixed;
	right: 0;
	top: 10px;
	height: 100%;
	z-index: 99;
	color: white;
}
